<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8AWjLif_p1rj09gEJu8Rfggy2gmuA_xs</string>
	<key>GCM_SENDER_ID</key>
	<string>137166197332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rizwan.Motorducky</string>
	<key>PROJECT_ID</key>
	<string>motor-duck</string>
	<key>STORAGE_BUCKET</key>
	<string>motor-duck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137166197332:ios:afd458ff32c75c105413c1</string>
</dict>
</plist>